pydantic==1.7.4
tensorflow==2.5
numpy==1.19.5
requests>=2.25,<2.30
twine==3.3.0
PyYAML~=5.4.1
h5py
pymongo~=3.11.3
backoff~=1.10.0
click~=7.1.2
pandas~=1.2.3
matplotlib~=3.3.4
python-jose[cryptography]~=3.2.0
boto3~=1.17.39
tensorflow_privacy@git+https://github.com/tensorflow/privacy.git@755ed26671f5567ba1519a4e80078eded7a6299b#egg=tensorflow_privacy
azure-functions~=1.7.0
